<%- include('./includes/head') %>
<a
  href="/admin/create-post
    "
  >Create Post</a
>
<h1>Welcome From Post Page</h1>

<% for(let post of postsArr) { %>
<section class="post-result">
  <h1><%= post.title %></h1>

  <a href="./posts/<%= post.id %>">Show Detail</a>
</section>
<% } %> <%- include('./includes/foot') %>
